.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow: 7px 7px 10px rgb(157, 238, 7);
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    background-color: rgb(1, 31, 109);
    color: rgb(251, 248, 250);
    bottom:5px;
    width: 100%;
    line-height: 15px;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}